<script>
    function setLinkClickListeners() {
        var allLinks = Array.from(document.getElementsByTagName('a'));
        allLinks
            .filter(linkEl => !linkEl.href.startsWith('#'))
            .forEach(linkEl => linkEl.addEventListener('click',
                function interceptLinkClick(event) {
                    console.log('Intercepted click on '  + linkEl.href);
                    event.preventDefault();
                    window.top.postMessage({url: linkEl.href}, '*');
                }
            ));
        console.log('Hooks set for ' + window.location);
    }

    runWhenLoaded(setLinkClickListeners);

    function runWhenLoaded(func) {
        // Run directly or as soon as possible.
        if (['loaded', 'interactive', 'complete'].indexOf(document.readyState) > -1) {
            func();
        }
        else {
            // Run as soon as the DOM has loaded.
            window.addEventListener("DOMContentLoaded", func);
        }
    }
</script>
